.cabecalho{
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
    padding: 2.2rem;
    
}

.menu__navegacao{
    display: flex;

}

.link__navegacao{
    margin-right: 2rem;
    text-decoration: none;
    color: #fff;
    font-family: 'Alata', sans-serif;
    font-size: 1.2rem;
    
}

.link__navegacao:hover{
    border-bottom: 1px solid #b49f9f;
    color: #b49f9f;
    
}

.logo__mobile{
    display: none;
}

.caixa__titulo{
    position: relative;
}

.titulo__principal{
    position: absolute;
    bottom: 280px;
    left: 200px;
    width: 35%;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 3.5rem;
    padding: 2.5rem;
    font-family: 'Alata', sans-serif;
    
}

.botao__mobile{
    display: none;
}
