.img__chamada{

}



.titulo__chamada{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    color: #222222;
    text-transform: uppercase;
}

.descricao__chamada{
    color: #8c8c8c;
    font-family: 'Alata', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}